{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}" type="text/css">
{% endblock %}


{% block title %}
  {{ title }}
{% endblock title %}

{% block page_content %}
<div class="page-header">
    <h1>
        Show weather info about
        <br>
        <strong>{{ location.city }}, {{ location.country }}</strong>
    </h1>
    <div id="weatherContainer">
        <marquee id="cityName"></marquee>
        <span id="temp"></span>
        <span id="main"></span>
        <marquee id="description"></marquee>
        <img id="image" src="">
    </div>
</div>
{% include 'messages.html' %}

<div class="col-md-4">
    <form action="{{ url_for('weather.index') }}" method="POST">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.city_name) }}
        {{ wtf.form_field(form.submit) }}
    </form>

    {% if city_weather %}
    <div class="table-responsive">
        <h3>Weather info about city {{ city_name.capitalize() }}, {{ country.name }}</h3>
        <table class="table table-hover table-striped" id="userTable">
            <thead>
                <tr>
                    <th scope="col">Field</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
            {% for field, value in city_weather.items() %}
                <tr>
                    <td>{{ field.capitalize() }}</td>
                    {% if field == 'icon_url' %}
                    <td class="bg-info"><img src="{{ value }}" alt=""></td>
                    {% else %}
                    <td>{{ value }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('weather.add_city') }}" method="post" id="userForm">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="city" value="{{ city_name }}"/>
            <input type="hidden" name="country" value="{{ country.id }}"/>
            <button type="submit" class="btn btn-primary" id="addCity">Add city</button>
        </form>
</div>
</div>
<div class="col-md-5">
   <div class="gmap_canvas">
     <iframe width="400" height="300" id="gmap_canvas"
             src="https://maps.google.com/maps?q={{ city_name }}&t=&z=9&ie=UTF8&iwloc=&output=embed">
     </iframe>
   </div>
 </div>
{% endif %}
{% endblock page_content %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/get_weather.js') }}"></script>
{% endblock %}
